    <section class="games">
		<h2 class="games-title">Games
		<%= link_to "+", new_game_path %>
		</h2>
        <section class="game-status">
            <h2 class="game-status-title game-status-title-accept">War time started!</h2>
            <ul class="game-status-invite-list">
                <li class="game-status-invite-item">
                    <div class="game-status-block">
                        <div class="game-status-info">
                            <a href="#" class="game-status-info-avatar-link">
                                <img src="" alt="avatar" class="game-status-info-avatar-img">
                            </a>
                            <div class="game-status-info-wrapper">
                                <p class="game-status-info-nickname">deddara</p>
                                <p class="game-status-info-guild">[anus]</p>
                            </div>
                        </div>
                        <div class="game-status-mods">
                            <span class="game-status-mods-title">Mods</span>
                            <ul class="game-status-mods-list">
                                <li class="game-status-mods-item">
                                    <img src="" alt="icon" class="game-status-mods-item-icon">
                                </li>
                                <li class="game-status-mods-item">
                                    <img src="" alt="icon" class="game-status-mods-item-icon">
                                </li>
                                <li class="game-status-mods-item">
                                    <img src="" alt="icon" class="game-status-mods-item-icon">
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="game-status-accept">accept</a>
                    </div>
                </li>
            </ul>
        </section>

        <section class="game-status">
            <a href="#" class="game-status-invite">Invite</a>

        </section>

        <div class="games-line"></div>
        <div class="games-types" id="tabs">
            <ul class="games-types-list">
                <li class="games-types-item active">
                    <button id="free-link" class=" btn-active" onclick="games_list_switch('free')">free games</a>
                </li>
                <li class="games-types-item">
                    <button id="rating-link" class="" onclick="games_list_switch('rating')">rating games</a>
                </li>
                <li class="games-types-item">
                    <button id="all-link" class="" onclick="games_list_switch('all')">all games</a>
                </li>
            </ul>

            <div class="tabs-content active" id="free-games" style="display: block;">
                <ul class="games-free-type-list">
                    <li class="games-free-type-item">
                        <div class="game-status-block">
                            <div class="game-status-info">
                                <a href="#" class="game-status-info-avatar-link">
                                    <img src="" alt="avatar" class="game-status-info-avatar-img">
                                </a>
                                <div class="game-status-info-wrapper">
                                    <p class="game-status-info-nickname">deddara</p>
                                    <p class="game-status-info-guild">[anus]</p>
                                </div>
                            </div>
                            <div class="game-status-mods">
                                <span class="game-status-mods-title">Mods</span>
                                <ul class="game-status-mods-list">
                                    <li class="game-status-mods-item">
                                        <img src="" alt="icon" class="game-status-mods-item-icon">
                                    </li>
                                    <li class="game-status-mods-item">
                                        <img src="" alt="icon" class="game-status-mods-item-icon">
                                    </li>
                                    <li class="game-status-mods-item">
                                        <img src="" alt="icon" class="game-status-mods-item-icon">
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="game-status-accept">join</a>
                        </div>
                    </li>
                    <li class="games-free-type-item">
                        <div class="game-status-block launched-game-block">
                            <div class="game-status-info launched-game">
                                <p class="game-status-block-score-left">
                                    10
                                </p>
                                <a href="#" class="game-status-info-avatar-link">
                                    <img src="" alt="avatar" class="game-status-info-avatar-img">
                                </a>
                                <div class="game-status-info-wrapper">
                                    <p class="game-status-info-nickname">deddara</p>
                                    <p class="game-status-info-guild">[anus]</p>
                                </div>
                            </div>
                            <div class="launched-game-spectate">
                                <p>vs</p>
                                <a href="#" class="game-status-spectate">spectate</a>
                            </div>
                            <div class="game-status-info launched-game">
                                <a href="#" class="game-status-info-avatar-link">
                                    <img src="" alt="avatar" class="game-status-info-avatar-img">
                                </a>
                                <div class="game-status-info-wrapper">
                                    <p class="game-status-info-nickname">deddara</p>
                                    <p class="game-status-info-guild">[anus]</p>
                                </div>
                                <p class="game-status-block-score-right">
                                    10
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="tabs-content" id="rating-games" style="display: none;">
            </div>
            <div class="tabs-content" id="all-games" style="display: none;">
            </div>
        </div>

    </section>
