<%= link_to guilds_path do %>
    <div class="main-page-events-list-element">
        <p><%= notification.user.nickname %> invite you to guild <%= notification.service_info %>.</p>
        <p class="datetime"><%= notification.created_at %></p>
	</div>
<% end %>