<ul>
    <% @users.each do |user| %>
        <li style="color: white">
            <%= user.email %>
            <% if current_user.friends_with?(user) %>
                <p>is your friend</p>
            <% elsif Invitation.pending?(current_user.id, user.id) %>
                <p>friend request is pending </p>
            <% elsif Invitation.reacted?(current_user.id, user.id) %>
                <p>is you </p>
            <% else %>
                <%= link_to "add friend", friends_add_path(user_id: user.id), method: "post", remote: true %>
            <% end %>
         </li>
    <% end %>
    <%= will_paginate @users %>
</ul>
