<section class="friend-page">
    <section class="friend-list-section">
        <div class="friend-list-section-header">
            <h4>Friends</h4>
            <a href="#">+</a>
        </div>
        <div class="friend-list-elements">
            <%= render 'friends/friends' %>
        </div>
        <div class="friend-list-elements-nav">
            <a href="#">&lt;prev</a>
            <a href="#" class="friend-list-elements-nav-next-btn ">next&gt;</a>
        </div>
    </section>
    <section class="friend-invites-section">
        <div class="friend-list-section-header">
            <h4>Invites</h4>
        </div>
        <div class="friend-invites-btn">
            <button id="switch-invites-btn-incoming" class="btn-active"
                onclick="friend_invites_list_switch(false)">incoming</button>
            <button id="switch-invites-btn-swnding" onclick="friend_invites_list_switch(true)">sending</button>
        </div>
        <section class="friend-invites-list">
            <%= render 'friends/invites' %>
        </section>
        <div class="friend-list-elements-nav">
            <a href="#">&lt;prev</a>
            <a href="#" class="friend-invites-list-nav-next-btn">next&gt;</a>
        </div>
    </section>
</section>