<h2 class="profile-settings-title">Profile setting</h2>
<section class="profile-settings-section personal-information">
    <h2 class="profile-settings-title">Personal-information</h2>
    <form class="personal-information-form" action="">
        <div class="personal-information-form-filed">
            <label for="email" class="personal-information-field-label">Email</label>
            <input type="text" id="email" class="personal-information-field-input">
            <button class="personal-information-form-button">create</button>
        </div>

        <div class="personal-information-form-filed">
            <label for="nickname" class="personal-information-field-label">Nickname</label>
            <input type="text" id="nickname" class="personal-information-field-input">
            <button class="personal-information-form-button">create</button>
        </div>
    </form>
    <a href="#" class="personal-information-link">Change password</a>
    <a href="#" class="personal-information-link">Turn on two-step authentication</a>
</section>

<section class="profile-settings-section block-users">
    <h2 class="profile-settings-title">Block users</h2>
    <section class="block-users-list">
    <% current_user.blocked.each do |blocked| %>
        <div class="block-users-user">
        <%= link_to image_tag(blocked.avatar,  class: "block-users-user-avatar"), profile_path(blocked) %>
            <div class="block-users-user-interaction">
                <div class="block-users-user-info">
                    <a href="#" class="block-users-user-info-nickname">Jalvaroddq</a>
                </div>
                <button href="#" class="block-users-user-unblock">unblock</button>
            </div>
        </div>
    <%end%>
    </section>
        <a class="arrow" href="#prev">< prev</a>
        <a class="arrow" href="#next">next ></a>
</section>
