.games-table {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 35px;
    font-weight: 100;
    line-height: 33px;
    letter-spacing: 4.32639px;
    color: #fff;
    width: 100%;
    border: 4px solid #fff;
}

.games-table-title {
    color: #8FE421;
    padding-bottom: 24px;
}

.games-title {
    text-align: left;
}

.table-title {
    padding-bottom: 24px;
    text-align: left;
}

.games-table-title-id {
    padding-left: 20px;
}

.games-table-row {
    vertical-align: top;
}

.games-table-row-id {
    padding-left: 20px;
}