/* include pixelar_font */
@font-face {
    font-family: "PixelarRegularW01-Regular";
	src:    url("../fonts/PixelarRegularW01Regular.woff2") format("woff2"),
		    url("../fonts/PixelarRegularW01Regular.woff") format("woff");
    }

/* default settings */
body {
    background-color: black;
    width: 1240px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    scrollbar-color: black #B2D430;
}

main {
    padding-left: auto;
    padding-right: auto;
}

h1, h2, h3, h4, a, p, label, input {
    font-family: "PixelarRegularW01-Regular", sans-serif;
    color: white;
    letter-spacing: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

input {
    font-size: 20px;
    background-color: black;
    letter-spacing: 3px;
}

h1 {
    margin-top: 0px;
    font-size: 159px;
    color: white;
}

h4 {
    font-size: 35px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

a:hover {
    color: #B2D430;
}

p {
    font-size: 35px;
    padding: 0px;
}

button {
    border: none;
    padding: 0px;
    line-height: 0;
}

button:hover {
    border: none;
    outline:none;
}

button:focus {
    outline:none;
}

footer {
    font-family: "PixelarRegularW01-Regular", sans-serif;
    color: white;
    font-size: 28.3px;
    margin-top: 100px;
}

/* header */

.navbar {
    display: flex;
    align-items: center;
}
.navbar-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    width: 100%;
    padding: 0px;
    list-style-type: none;
}

.navbar-elements a {
    font-size: 45px;
}

.logo {
    padding-top: 20px;
}

.dropdown-btn {
    margin-left: auto;
}

.dropbtn {
    border: none;
    cursor: pointer;
    background-color: black;
  }

.dropbtn img {
    width: 50px;
    height: 50px;
    border: 2px solid white;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: black;
    min-width: 170px;
    min-height: 150px;
    z-index: 1;
    border: 4px white solid;
    font-size: 25px;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}

.dropdown-content a{
    display: block;
    padding-left: 0px;
    letter-spacing: 0px;
    padding: 0px;
    margin: 0px;
}
  
.dropdown:hover .dropdown-content {display: flex;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #616F39;
}