/* friend_page */

.friend-page, .friend-list-section-header {
    display: flex;
}

.friend-list-section-header h4 {
    border-bottom: 1px white solid;
}

.friend-list-section-header a {
    font-size: 35px;
    margin-left: 10px;
}

.friend-list-section {
    width: 875px;
    height: 635px;
}

.friend-list-elements {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    align-content: flex-start
}

.friend-list-element {
    display: flex;
    margin: 10px 60px 10px 0px;
}

.friend-list-element-profile-img img {
    width: 60px;
    height: 60px;
    border: 2px solid white;
}

.friend-list-element-btn-nickname-guild {
    margin-left: 20px;
}

.friend-list-element-nickname-guild {
    display: flex;
}

.friend-list-element-nickname-guild h4{
    font-size: 24px;
}


.friend-list-element-guild {
    color: #616F39;
    margin-left: 10px;
}

.friend-list-element-btn {
    display: flex;
}

.friend-list-element-btn img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

.friend-list-element-offline {
    opacity: .5;
    transition: .3s;
}

.friend-list-element-offline:hover {
    opacity: 1;
}

.friend-list-elements-nav {
    display: flex;
}

.friend-list-elements-nav a {
    font-size: 24px;
}

.friend-list-elements-nav a:hover {
    color: #B2D430;
}

.friend-list-elements-nav-next-btn {
    margin-left: auto;
    margin-right: 145px;
}

.friend-invites-list {
    height: 590px;
}

.friend-invites-btn {
    display: flex;
}

.friend-invites-btn button{
    outline: none;
    border: none;
    font-family: "PixelarRegularW01-Regular", sans-serif;
    color: white;
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 3px;
    cursor: pointer;
    margin-right: 20px;
}

.btn-active {
    color: #B2D430 !important;
}

.friend-invites-list {
    margin-top: 20px;
    width: 364px;
}

.friend-invites-list-incoming {
    margin-top: 20px;
}

.friend-invites-list-incoming-element {
    display: flex;
    margin-top: 10px;
}

.friend-invites-list-incoming-element-profile-img img {
    width: 35px;
    height: 35px;
    border: 2px solid white;
}

.friend-invites-list-incoming-element-nickname-guild h4{
    font-size: 24px;
}

.friend-invites-list-incoming-element-nickname-guild {
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
}

.friend-invites-list-incoming-element-btn {
    display: flex;
    margin-left: auto;
}

.friend-invites-list-incoming-element-btn img {
    width: 22px;
    height: 22px;
    margin-top: 8px;
    margin-left: 10px;
}

.friend-invites-list-nav-next-btn {
    margin-left: auto;
}