.games-title {
    display: inline-block;
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 48px;
    color: #FFFFFF;
    border-bottom: 1px solid #fff;
}

.game-status {
    text-align: center;
    margin-bottom: 56px;
}

.game-status-title-accept {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 48px;
    color: #B2D430;
    margin-bottom: 33px;
}

.game-status-block {
    display: inline-flex;
    width: 90%;
    border: 1px solid #fff;
    padding: 29px 56px 28px 59px;
    align-items: center;
    justify-content: space-between;
}

.tournament_field {
    margin-left: 20px;
    font-size: 20px;
}

.game-status-info {
    display: flex;
    align-items: center;
}

.game-status-info-avatar-link {
    display: inline-block;
    margin-right: 23px;
}

.game-status-info-wrapper {
    display: inline-block;
}

.game-status-info-avatar-img {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
}

.game-status-info-guild {
    color: #616F39;
}

.game-status-mods-title {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 35px;
    color: #FFFFFF;
}

.game-status-mods-item-icon {
    height: 29px;
}

.game-status-mods-list {
    display: flex;
    max-width: 229px;
    flex-wrap: wrap;
    padding: 0;
}

.game-status-mods-item {
    margin: 5px 20px;
}

.game-status-accept, .game-status-spectate, .game-status-invite {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 35px;
    color: #FFFFFF;
    padding: 2px 15px 7px;
    border: 1px solid #fff;
}

.games-line {
    width: 526px;
    border-bottom: 1px solid #fff;
    margin-bottom: 62px;
    margin-left: auto;
    margin-right: auto;
}

.games-types {
    text-align: center;
    /* width: 963px; */
    margin: auto;
}

.games-types-list {
    display: flex;
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 24px;
    color: #FFFFFF;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.games-types-item {
    display: inline;
}

.games-types-item-link {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.games-free-type-item {
    margin-bottom: 20px;
}

.games-free-type-list {
    padding: 0;
}

.tabs-content {
    display: none;
}
.tabs-content.active {
    display: block;
}

.game-status-block-score-left, .game-status-block-score-right {
    color: #fff;
}

.game-status-block-score-left {
    padding-right: 17px;
}

.game-status-block-score-right {
    padding-left: 17px;
}

.launched-game {
    align-items: center;
    display: flex;
}

.game-status-invite {
    font-size: 48px;
    padding: 10px 70px;
}

.launched-game-spectate {
    margin: 0 10px;
}

.game-status-invite-item {
    display: flex;
}

.game-status-invite-list {
    padding: 0;
}

.edit_game {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}