.guild span {
    font-family: PixelarRegularW01-Regular, serif;
}

.guild-name-wrap {
    margin-bottom: 35px;
}

.guild-name {
    font-size: 45px;
    line-height: 42px;
    letter-spacing: 5px;
    color: #fff;
}

.guild-anagram {
    font-size: 45px;
    line-height: 42px;
    letter-spacing: 5px;
    color: #616F39;
}

.guild-info {
    display: flex;
}

.guild-avatar {
    height: 165px;
    width: 165px;
    margin-right: 25px;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
}

.guild-description {
	max-width: 726px;
	height: 96px;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 3px;
}

.guild-description {
    margin-right: 25px;
    padding-bottom: 32px;
}

.guild-description-join {
    cursor: pointer;
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 23px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #fff;
    background: transparent;
    padding: 3px 14px 6px 12px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-align: left;
}


.guild-stats-icon {
    height: 31px;
    width: 31px;
}

.guild-stats{
	margin-left: auto;
}

.guild-stat-info {
    color: #fff;
    font-size: 35px;
    line-height: 33px;
    letter-spacing: 4px;
    padding-left: 21px;
}

.guild-stat {
    display: flex;
}

.guild-lists-wrap {
    margin-top: 65px;
    justify-content: space-between;
    display: flex;
}

.guild-users-list {
    height: 408px;
    width: 555px;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
	padding: 10px;
	padding-left: 16px;
	overflow: auto;
}

.guild-war-history-list {
    height: 408px;
    width: 555px;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
	padding: 16px;
	overflow: auto;
}

.guild-war-history-list-title {
    display: inline-block;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4px;
    padding-bottom: 6px;
    border-bottom: 1px solid #FFFFFF;
}

.war-history-total-result{
	margin-left: auto;
}

.war-history-list {
    padding: 0;
    margin: 16px 0 0;
}

.war-history-item {
    display: flex;
    margin-bottom: 27px;
}

.war-history-item-wrap {
    padding-right: 20px;
}

.war-history-item-name {
    font-family: PixelarRegularW01-Regular, serif;
    color: #fff;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 3px;
}

.war-history-item-anagram {
    font-family: PixelarRegularW01-Regular, serif;
    color: #616F39;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 3px;

}

.total-result-score {
    text-align: right;
    display: block;
}

.total-result-score {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 3px;
}

.total-result-score-win {
    color: #B2D430;
}

.total-result-score-lose {
    color: #B2463E;
}

.total-result-time {
    font-family: PixelarRegularW01-Regular, serif;
    color: #fff;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 3px;
}

.guild-users-list-header{
	margin-top: -10px;
	width:100px;
	display: flex;
	border-bottom: 1px solid #FFFFFF;
}

.guild-users-list-header-title{
	font-size: 30px;
	margin-top: 5px;
}

.guild_users_list_nav{
	width:520px;
	margin-top: 25px;
	margin-bottom: 20px;
}

.guild_users_list button{
	font-size: 25px;
	margin-left: 50px;
}