/* profile_page.css */

.profile_page{
	display: flex;
}

.small_line{
	display: block;
	border-bottom: 1px white solid;
	width: 110px;
	margin-top: 10px;
	margin-left: 170px;
}

.medium_line{
	display: block;
	border-bottom: 1px white solid;
	width: 515px;
	margin-top: -1px;
	margin-left: 370px;
}

.line{
	display: block;
	border-bottom: 1px white solid;
	width: 600px;
	margin-top: 30px;
	margin-left: 330px;
}

.vert_line{
	display: block;
	border-left: 1px white solid;
	height: 300px;
	margin-top: 100px;
}

.small_line_after{
	display: block;
	border-bottom: 1px white solid;
	width: 110px;
	margin-top: -1px;
	margin-left: 975px;
}

.profile-info{
	display: flex;
	margin: 50px 30px;
}

.profile-info-img{
	height: 200px;
	width: 200px;
	border: 4px solid white;
}

.profile-stat{
	display: flex;
	margin-left: 40px;
	font-size: 45px;
	width: 100%;

}

.profile-nick{
	display: flex;
	width: 650px;
}

.profile-guild-anag{

	color: #616F39;;	
}

.profile-matches-stat {
	display: flex;
}

.profile-matches-stat-contour {
	margin-left: auto;
}

.profile-matches-stat-value{
	margin-left: 30px;
}

.profile-matches-stat h3{
	text-align: left;
}

.profile-wins{
	color: #B2D430;
}

.profile-losses{
	margin-top:10px;
	color: #B2463E;
}

.profile-matches-stat-num, .profile-matches-loss-stat-num{
	margin-left: 15px;
}

.profile-matches-stat-value h3 {
	text-align: right;
}


.profile-rate-ladder{
	display: flex;
	margin-top: 15px;
}

.profile-rate-ladder-sign{
	width: 50px;
	height: 50px;
}

.profile-rate-ladder-num{
	margin-left: 20px;
	font-size: 40px;
}

.profile-info-action{
	margin-top: 15px;
	text-align: right;
}

.profile-settings-sign{
	margin-left: 10px;
	width: 50px;
	height: 50px;
}

.profile-info-action-add{
	font-size: 30px;
}

.match-history{
	margin-top: 20px;
	height: 500px;
	border: 2px solid white;
	font-size: 30px;
	overflow: auto;
}

.win-color{
	color: #B2D430;
}

.loss-color{
	color: #B2463E;
}