.stats-title {
    display: inline;
    font-size: 35px;
    line-height: 33px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.stats-top {
    display: flex;
    margin-top: 47px;
    padding-left: 14px;
}

.stats-top-guild {
    padding-right: 45px;
    border-right: 1px solid #979797;
    width: 47%;
}

.stats-top-title {
    display: inline;
    font-size: 25px;
    line-height: 23px;
    letter-spacing: 3px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.top-guild {
    margin-top: 40px;
}

.top-guild-name {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 35px;
    line-height: 33px;
    color: #fff;
    margin-right: 5px;
}

.stats-top-users {
    margin-left: 85px;
}

.stats-top-users-list {
    padding: 0;
    margin: 17px 0 0;
}

.stats-top-users-item {
    display: flex;
    padding-bottom: 20px;
}

.user-wrap {
    display: inline-block;
    margin-left: 28px;
}

.stats-top-users-avatar {
    height: 52px;
    width: 59px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 41px;
}

.top-users-score {
    padding-left: 15px;
}

.top-users-score-icon {
    Width: 29px;
    Height: 29px;
}

.user-info {
    display: inline-block;
    margin-left: 8px;
}
.user-action-message-icon {
    height: 32px;
    width: 32px;
    margin-right: 15px;
}

.top-users-score {
    font-family: PixelarRegularW01-Regular, serif;
    color: #fff;
    font-size: 40px;
    line-height: 37px;
    letter-spacing: 1.66667px;
}

.user-action-war-icon {
    height: 22px;
    width: 22px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.user-action-block-icon {
    height: 22px;
    width: 22px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.stats-top-users-score {
    display: flex;
    margin-left: 60px;
}

.user-info-nickname {
    font-family: PixelarRegularW01-Regular, serif;
    color: #fff;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 2.96667px;
}

.user-info-anagram {
    font-family: PixelarRegularW01-Regular, serif;
    color: #616F39;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 2.96667px;
}

.stats-top-users-cup {
    width: 39px;
    height: 39px;
}

.top-guild-anagram {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 35px;
    line-height: 33px;
    color: #616F39;
}

.top-guild-stats-wrap {
    display: flex;
    margin-top: 20px;
}

.top-guild-stats {
    display: flex;
    flex-wrap: wrap;
    max-width: 295px;
    margin-right: 62px;
}

.top-guild-stat {
    margin-left: 15px;
}

.stats-top-guild-avatar {
    width: 95px;
    height: 95px;
    border: 1px solid #fff;
}

.top-guild-stat-icon {
    width: 33px;
    height: 33px;
}

.top-guild-stat-kd {
    font-family: PixelarRegularW01-Regular, serif;
    color: #fff;
    font-size: 26px;
    letter-spacing: 1px;
}

.top-guild-score {
    font-family: PixelarRegularW01-Regular, serif;
    color: #fff;
    font-size: 40px;
    line-height: 37px;
    letter-spacing: 1.66667px;
    padding-left: 23px;
}

.stats-users-guild {
    margin-top: 35px;
}

.stats-users-guild-table {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 35px;
    font-weight: 100;
    line-height: 33px;
    letter-spacing: 4.32639px;
    color: #fff;
    width: 100%;
    border: 4px solid #fff;
    margin-bottom: 50px;
}

.table-title {
    max-width: 1px;
    text-align: left;
}

.table-row-title {
    font-weight: normal;
    border-bottom: 1px solid #fff;
}

.table-title-rank, .table-row-rank {
    padding-left: 31px;
}

.table-title-nickname {
    padding-left: 50px;
}

.table-title-score {
    text-align: right;
    padding-right: 114px;
}

.table-row-nickname {
    padding-bottom: 10px;
    padding-left: 50px;
    text-align: left;
}

.table-row-score {
    text-align: right;
    padding-right: 125px;
}