.wars-show-title {
    display: inline;
    font-size: 50px;
    line-height: 46px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.wars-show-guilds-title {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: normal;
    color: #B2D430;
    margin-bottom: 38px;
    text-align: center;
}

.wars-show-guilds-block {
    display: flex;
    justify-content: space-between;
}

.wars-show-time, .wars-show-wartime {
    color: #616F39;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 15px;
}

.wars-show-block {
    display: flex;
    margin-top: 23px;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 20px;
}

.wars-show-guild-info-name-link, .wars-show-guild-info-anagram-link {
    display: inline-block;
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 35px;
    line-height: 33px;
}

.wars-show-guild-info-name-link {
    color: #fff;
    margin-right: 5px;
}

.wars-show-guild-info-anagram-link {
    color: #616F39;
}

.wars-show-guild-info-wrap {
    display: flex;
    margin-top: 20px;
}

.wars-show-guild-info-avatar {
    width: 95px;
    height: 95px;
    border: 1px solid #fff;
}

.wars-show-guild-info-stats {
    display: flex;
    flex-wrap: wrap;
    max-width: 295px;
    margin-right: 80px;
}

.wars-show-guild-info-stat {
	display: flex;
    margin-left: 15px;
}

.wars-show-guild-info-stat-icon {
    width: 33px;
	height: 33px;
	margin-right: 10px;
}

.wars-show-guild-info-stat-kd {
    font-family: PixelarRegularW01-Regular, serif;
    color: #fff;
    font-size: 26px;
    letter-spacing: 1px;
}

.wars-show-info {
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.wars-show-mods {
    text-align: center;
}

.wars-show-mods-title {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 35px;
    line-height: 33px;
    letter-spacing: 4px;
    color: #FFFFFF;
}

.wars-show-mods-list {
	margin-left: auto;
	margin-right: auto;

    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
}

.wars-show-mods-item {
    margin: 5px 20px;
}

.wars-show-mods-item-icon {
    height: 50px;
    width: 50px;
}

.wars-show-cancel-block {
    display: flex;
}

.wars-show-score-icon, .wars-show-cancel-icon {
    height: 28px;
    width: 29px;
}

.wars-show-score {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 40px;
    line-height: 37px;
    color: #FFFFFF;
    padding-left: 17px;
    float: right;
}

.wars-show-table {
    font-family: PixelarRegularW01-Regular, serif;
    font-size: 35px;
    font-weight: 100;
    line-height: 33px;
    letter-spacing: 4.32639px;
    color: #fff;
    width: 100%;
    border: 4px solid #fff;
    margin-bottom: 50px;
}

.wars-show-table-title {
    /*border-bottom: 1px solid #fff;*/
}

.wars-show-table-title-title {
    text-align: left;
    color: #B2D430;
}

.games-table-title-players, .wars-show-table-row-players {
    width: 516px;
    padding-left: 49px;
    font-size: 35px;
}

.games-table-title-score, .wars-show-table-row-score {
    width: 300px;
}

.wars-show-table-row {
    text-align: left;
    padding-bottom: 10px;
}

.games-table-title-date, .wars-show-table-row-date {
    text-align: right;
    padding-right: 30px;
}
