<a href="#">
    <div class="main-page-events-list-element main-page-events-list-element-new">
        <p>Deddara invite you to guild Pussy Power.</p>
        <p class="datetime">12/12/2020 14:00</p>
	</div>
</a>