<%= link_to profile_path(friend.id) do %>
    <div class="main-page-friends-list-element">
		<% if friend.avatar.attached? %>
			<img src="<%= rails_storage_proxy_path(friend.avatar) %>">
		<% end %>
		<h4><%= friend.nickname %></h4>
		<% if friend.guild %>
			<h4 class="main-page-guild">[<%= friend.guild.anagram %>]</h4>
		<% end %>
		<% if friend.online? %>
			<h4 class="main-page-friend-online">online</h4>
		<% else %>
			<h4 class="main-page-friend-offline">offline</h4>
		<% end %>
	</div>
</a>
<%end%>