<a href="#">
    <div class="main-page-friends-list-element">
		<img src="<%= @friend.avatar %>">
		<h4><%= @friend.nickname %></h4>
		<h4 class="main-page-guild">[ANAL$]</h4>
		<h4 class="main-page-friend-online">online</h4>
	</div>
</a>