/* include pixelar_font */
{ @font-face {
    font-family: "PixelarRegularW01-Regular";
    src:    url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.eot");
    src:    url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.eot?#iefix") format("embedded-opentype"),
            url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.woff2") format("woff2"),
            url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.woff") format("woff"),
            url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.ttf") format("truetype"),
            url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.svg#PixelarRegularW01-Regular") format("svg");
    }
}

/* default settings */
body {
    background-color: black;
    width: 1440;
    height: 1024;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 0px;
    font: 159px "PixelarRegularW01-Regular", sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #B2D430;
}

/* home_page */
.welcome-msg {
    text-align: center;
    margin-top: 10%;
}